body {
  height: 100vh;
  background-color: black;
  color: white;
}

::placeholder {
  color: white;
}

a {
  color: yellow;
}

a:visited {
  color: lightblue;
}

h1, h2, h3, h4, h5, h6 {

}

header {
  width: 100vw;

}

section {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}